.receitas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabela-receita {
  overflow-y: auto;
  max-height: 50vh;
}

.campo-obrigatorio:invalid {
  border-color: red;
}