.menu-lateral {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 20%;
}

.nav-link {
    color: aliceblue;
}

.nav-item:hover {
    background-color: rgb(237, 244, 245);
}
.flex-column {
    background-color: aqua;
}

